{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
    <ul class="list-menu list-menu--inline" role="list">
      {%- for link in section.settings.menu.links -%}
        <li class="{{ link.title | escape }}">
          {%- if link.links != blank -%}
            <header-menu>
              <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                <summary
                  id="HeaderMenu-{{ link.handle }}"
                  class="header__menu-item list-menu__item link focus-inset"
                >
                  <span
                    {%- if link.child_active %}
                      class="header__active-menu-item"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </span>
                  {% render 'icon-caret' %}
                </summary>
                <div
                  id="MegaMenu-Content-{{ forloop.index }}"
                  class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                  tabindex="-1"
                >
                  {%- if link.title == 'Collections' -%}
                    <ul
                      class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                      role="list"
                    >
                      {% for collection in collections limit: 3 %}
                        <li class="collection_list_item">
                          <a href="{{ collection.url }}" class="collection_link"> 
                            <span class="collection_img_wrap">
                              {%- if collection.image -%}
                                {%- assign collection_image = collection.image -%}
                              {%- elsif collection.products.first and collection.products.first.images != empty -%}
                                {%- assign collection_image = collection.products.first.featured_image -%}
                              {%- else -%}
                                {%- assign collection_image = blank -%}
                              {%- endif -%} 
                            </span>
                            <span class="collection_title">
                              {{collection.title }}
                            </span>
                          </a>                        
                        </li>
                      {% endfor %}     
                    </ul>
                    <span class="browse_btn_wrap">
                      <a href="/collections">Browse All</a>
                    </span>                 
                  {%- else -%}
                  <ul
                    class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                    role="list"
                  >
                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                        {%- if childlink.links != blank -%}
                          <ul class="list-unstyled" role="list">
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                  {%- endif -%}
                </div>
              </details>
            </header-menu>
          {%- else -%}
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="header__menu-item list-menu__item link link--text focus-inset"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
  