{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <div class="row">
      <div class="price_wrapper">
        <span class="visually-hidden">{{ product.title }}</span>
        <span class="pricing">{{ product.price | money}}</span>
      </div>
      <div class="color_wrapper">
        <div class="color_variant">
            {% for tag in product.tags limit:1 %}
              {% assign collection_handle = tag | split: 'Collection:' | last %}
              {% assign product_collection = collections[collection_handle] %}
              {% comment %} <p>{{ collection_handle }}</p>
              <p>{{product_collection }}</p> {% endcomment %}
                {% for product in product_collection.products %}
                  {% assign productTags = product.tags | join: ', ' %}
                    {% comment %} {{productTags}} {% endcomment %}
                    {% comment %} {% assign collection_tag = tag | split: 'Collection:' | last %} {% endcomment %}
                    {% if productTags contains 'Color:Red' %}
                      <span class="color color-red" data-id="{{variant.id}}"></span>
                    {% endif %}
                    {% if productTags contains 'Color:Scarlett Red' %}
                      <span class="color color-scarlett-red" data-id="{{variant.id}}"></span>
                    {% endif %}
                    {% if productTags contains 'Color:Forrest Green' %}
                      <span class="color color-forrest-green" data-id="{{variant.id}}"></span>
                    {% endif %}
                    {% if productTags contains 'Color:Green' %}
                      <span class="color color-green" data-id="{{variant.id}}"></span>
                    {% endif %}
                    {% if productTags contains 'Color:Blue' %}
                      <span class="color color-blue" data-id="{{variant.id}}"></span>
                    {% endif %}
                    {% if productTags contains 'Color:Grey' %}
                      <span class="color color-grey" data-id="{{variant.id}}"></span>
                    {% endif %}
                    {% if productTags contains 'Color:Black' %}
                      <span class="color color-black" data-id="{{variant.id}}"></span>
                    {% endif %}
          			    {% if productTags contains 'Color:Brown' %}
                      <span class="color color-brown" data-id="{{variant.id}}"></span>
                    {% endif %}
                    {% if productTags contains 'Color:Hennessey' %}
                      <span class="color color-hennessey" data-id="{{variant.id}}"></span>
                    {% endif %}
          			    {% if productTags contains 'Color:Deep Mustard' %}
                      <span class="color color-deep-mustard" data-id="{{variant.id}}"></span>
                    {% endif %}
          			    {% if productTags contains 'Color:Mustard' %}
                      <span class="color color-mustard" data-id="{{variant.id}}"></span>
                    {% endif %}
                    {% if productTags contains 'Color:Cream' %}
                      <span class="color color-cream" data-id="{{variant.id}}"></span>
                    {% endif %} 
                    {% if productTags contains 'Color:Yellow' %}
                      <span class="color color-yellow" data-id="{{variant.id}}"></span>
                    {% endif %}  
          			    {% if productTags contains 'Color:Orange' %}
                      <span class="color color-orange" data-id="{{variant.id}}"></span>
                    {% endif %}  
                    {% if productTags contains 'Color:Oxblood' %}
                      <span class="color color-oxblood" data-id="{{variant.id}}"></span>
                    {% endif %}  
                    {% if productTags contains 'Color:Purple' %}
                      <span class="color color-purple" data-id="{{variant.id}}"></span>
                    {% endif %} 
                    {% if productTags contains 'Color:Sage' %}
                      <span class="color color-sage" data-id="{{variant.id}}"></span>
                    {% endif %} 
                {% endfor %}
            {% endfor %}
            
          {% comment %} {% for option in product.options %}
            {% if option == "Color" or option == "Colour" %}
              {% assign index = forloop.index0 %}
              {% assign colorlist = '' %}
              {% assign color = '' %}
              {% for variant in product.variants %}
                {% capture color %}
                  {{ variant.options[index] }}
                {% endcapture %}
                {% unless colorlist contains color %}
                  <span class="color color-{{color | handle }}"></span>
                  {% capture tempList %}
                    {{colorlist | append: color | append: ' '}}
                  {% endcapture %}
                  {% assign colorlist = tempList %}
                {% endunless %}
              {% endfor %}
            {% endif %}
          {% endfor %} {% endcomment %}
        </div>
      </div>
    </div>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ preview_image.aspect_ratio }}"
              data-sizes="auto"
              data-image>
      </div>
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

  {% include 'product-price-listing', product: product, show_vendor: show_vendor %}

</div>
