<div class="chart_wrapper">
    <div class="row chart_heading">
        <div class="title"><p>Size Chart</p></div>
        {% for block in section.blocks %}
        <div class="xs"><p>{{block.settings.xs}}</p></div>
        <div class="s"><p>{{block.settings.s}}</p></div>
        <div class="m"><p>{{block.settings.m}}</p></div>
        <div class="l"><p>{{block.settings.l}}</p></div>
        <div class="xl"><p>{{block.settings.xl}}</p></div>
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Size chart",
    "blocks": [
        {
            "type": "sizing",
            "name": "Sizes",
            "settings": [
                {
                    "type": "text",
                    "id": "xs",
                    "label": "XS",
                    "default": "XS"
                },
                {
                    "type": "text",
                    "id": "s",
                    "label": "S",
                    "default": "S"
                },
                {
                    "type": "text",
                    "id": "m",
                    "label": "M",
                    "default": "M"
                },
                {
                    "type": "text",
                    "id": "l",
                    "label": "L",
                    "default": "L"
                },
                {
                    "type": "text",
                    "id": "xl",
                    "label": "XL",
                    "default": "XL"
                }
            ]
        },
        {
            "type": "length",
            "name": "Body Length",
            "settings": [
                {
                    "type": "text",
                    "id": "lenght_xs",
                    "label": "Body Length XS",
                    "default": "25.75"
                },
                {
                    "type": "text",
                    "id": "lenght_s",
                    "label": "Body Length S",
                    "default": "27"
                },
                {
                   "type": "text",
                    "id": "lenght_m",
                    "label": "Body Length M",
                    "default": "28.25"
                },
                {
                   "type": "text",
                    "id": "lenght_l",
                    "label": "Body Length L",
                    "default": "29.50"
                },
                {
                    "type": "text",
                    "id": "lenght_xl",
                    "label": "Body Length XL",
                    "default": "30.75"
                }
            ]
        },
        {
            "type": "chest_width",
            "name": "Chest Width",
            "settings": [
                {
                    "type": "text",
                    "id": "chest_xs",
                    "label": "Chest Width XS",
                    "default": "19.50"
                },
                {
                    "type": "text",
                    "id": "chest_s",
                    "label": "Chest Width SM",
                    "default": "20.75"
                },
                {
                   "type": "text",
                    "id": "chest_m",
                    "label": "Chest Width M",
                    "default": "22"
                },
                {
                   "type": "text",
                    "id": "chest_l",
                    "label": "Chest Width L",
                    "default": "23.25"
                },
                {
                    "type": "text",
                    "id": "chest_xl",
                    "label": "Chest Width XL",
                    "default": "24.50"
                }
            ]
        },
        {
            "type": "sleeve_length",
            "name": "Sleeve Length",
            "settings": [
                {
                    "type": "text",
                    "id": "sleeve_xs",
                    "label": "Sleeve Length XS",
                    "default": "32"
                },
                {
                   "type": "text",
                    "id": "sleeve_s",
                    "label": "Sleeve Length S",
                    "default": "33"
                },
                {
                   "type": "text",
                    "id": "sleeve_m",
                    "label": "Sleeve Length M",
                    "default": "34"
                },
                {
                   "type": "text",
                    "id": "sleeve_l",
                    "label": "Sleeve Length L",
                    "default": "35"
                },
                {
                    "type": "text",
                    "id": "sleeve_xl",
                    "label": "Sleeve Length XL",
                    "default": "35.75"
                }
            ]
        }
    ]
}
{% endschema %}
