<div preload class="videoSlideshow show-mobile-{{ section.settings.show-mobile }}">
    {%- for block in section.blocks -%}
        <div class="video-slide-wrap hide-mobile">
            <a href="{{ block.settings.btn_link }}" class="video-slides fade">
<!--                 <div class="block_info">
                    <span class="video_text">{{ block.settings.video_text }}</span>
                    <span class="video_btn">{{ block.settings.btn_text }}</span>
                </div> -->
                <video preload autoplay muted loop playsinline class="slide-show-video">
                    <source src="{{ block.settings.video_link }}" type="video/mp4">
                </video>
            </a>
        </div>
  
  		<div class="video-slide-wrap show-mobile">
            <a href="{{ block.settings.btn_link }}" class="video-slides fade">
                <div class="block_info">
                    <span class="video_text">{{ block.settings.video_text }}</span>
                    <span class="video_btn">{{ block.settings.btn_text }}</span>
                </div>
                <video preload autoplay muted loop playsinline class="slide-show-video">
                    <source src="{{ block.settings.mobileVideo_link }}" type="video/mp4">
                </video>
            </a>
        </div>
    {%- endfor -%}  
    <span class="block_image_info">
      <p class="image_details">SS22 The Summer of Sounds</p>
    </span>
</div>

<!-- <a class="prev show-mobile-{{ section.settings.show-mobile }}" onclick="plusSlides(-1)">&#10094;</a>
<a class="next show-mobile-{{ section.settings.show-mobile }}" onclick="plusSlides(1)">&#10095;</a>

<div class="dot-wrapper show-mobile-{{ section.settings.show-mobile }}">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div> -->

<script>
    var slideIndex = 1;

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("video-slides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    showSlides(slideIndex);
    
    setInterval(function () {
        plusSlides(+1)
    }, 35000);
</script>

{% schema %}
{
  "name": "Video Slideshow",
  "class": "box-grid",
  "settings": [
    {
      "type": "radio",
      "id": "show-mobile",
      "label": "Show on mobile",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "no"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "label": "Desktop Video Link",
          "id": "video_link",
          "type": "url"
        },
		{
          "label": "Mobile Video Link",
          "id": "mobileVideo_link",
          "type": "url"
        },
        {
          "label": "Video Image",
          "id": "video_image",
          "type": "image_picker"
        },
        {
          "label": "Video Text",
          "id": "video_text",
          "type": "text"
        },
        {
          "label": "Button text",
          "id": "btn_text",
          "type": "text"
        },
        {
          "label": "Button link",
          "id": "btn_link",
          "type": "url"
        }
      ]
    }
  ]
}
{% endschema %}